<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/css/navbar.css') }}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', path='/js/scripts.js') }}"></script>

    {% block title %}
    {% endblock %}
</head>

<body>
    {% include "shared/navbar.html" %}
    {% block content %}
    {% endblock %}
</body>

</html>