{% extends "shared/base.html" %}
{% set active_page = "get_login" %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
<div class="container">
    {% if ('access_token' in request.cookies) %}
    <h2>LOG OUT</h2>
    <p>
        You are logged in.
    </p>
    <p>
        If you wish you can <a href="/logout">logout</a>
    </p>
    {% else %}
    <h2>LOG IN</h2>
    <form id="login_form" action="/login" method="POST">
        <div>
            <label>Username</label>
            <input type="text" required placeholder="Username" name="username">
        </div>
        <div>
            <label>Password</label>
            <input type="text" required placeholder="Password" name="password">
        </div>
        <button type="submit" class="center" onclick="clear_elem('communicate')">Submit</button>
    </form>
    {% endif %}
</div>
<div id="communicate" class="container">
    {% for error in errors %}
    <li class="nobull error">{{error}}</li>
    {% endfor %}
</div>
<div>
    {% if msg %}

    {% endif %}
</div>
{% endblock %}